.main__section__header {
  width: 100%;
  height: 70px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
.main__section__header__container {
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__section__header__container__hide__search {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
.main__section__header__container__hide__search__hide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main__section__header__container__hide__search__hide button {
  width: 35px;
  height: 35px;
  border: 1px solid;
  border-radius: 50%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}
.main__section__header__container__hide__search__hide button:hover {
  background-color: #f1f1f1;
}
.main__section__header__container__hide__search__hide button i {
  display: flex;
  font-size: 1.2em;
}
.main__section__header__container__hide__search__search {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 20px;
}
.main__section__header__container__hide__search__search input {
  border: 1px solid #ffffff;
  width: 700px;
  box-sizing: border-box;
  font-size: 1em;
  padding: 6px 10px;
  border-radius: 4px;
  outline: none;
}
.main__section__header__container__settings {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
}
.main__section__header__container__settings button:last-child {
  margin-left: 30px;
}
.main__section__header__container__settings button {
  width: 35px;
  height: 35px;
  border: 1px solid;
  border-radius: 50%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
  position: relative;
}
.main__section__header__container__settings button:hover {
  background-color: #f1f1f1;
}
.main__section__header__container__settings button:hover > span {
  top: -25px;
}
.main__section__header__container__settings button > i {
  display: flex;
  font-size: 1.2em;
}
.main__section__header__container__settings button > span {
  display: flex;
  position: absolute;
  top: -20px;
  right: -20px;
  transition: top 0.2s ease-in-out;
}
.main__section__header__container__settings button > span i {
  display: flex;
  font-size: 3.2em;
}
@-webkit-keyframes dropdown-animations {
  from {
    top: 100%;
  }
  to {
    top: 140%;
  }
}
@keyframes dropdown-animations {
  from {
    top: 100%;
  }
  to {
    top: 140%;
  }
}
.main__section__header__container__settings__dropdownNotifications {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 320px;
  position: absolute;
  top: 130%;
  right: 0;
  -webkit-animation-name: "dropdown-animations";
          animation-name: "dropdown-animations";
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  background-color: #ffffff;
  z-index: 90;
}
.main__section__header__container__settings__dropdownNotifications header {
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-size: 0.9em;
  text-align: center;
  padding: 10px 0;
  cursor: default;
}
.main__section__header__container__settings__dropdownNotifications section {
  width: 100%;
  box-sizing: border-box;
}
.main__section__header__container__settings__dropdownNotifications section a {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.main__section__header__container__settings__dropdownNotifications section a:hover {
  background-color: #f1f1f1;
}
.main__section__header__container__settings__dropdownNotifications section a i {
  width: 20%;
  font-size: 1em;
  color: #4d4d4d;
}
.main__section__header__container__settings__dropdownNotifications section a article {
  width: 80%;
  box-sizing: border-box;
}
.main__section__header__container__settings__dropdownNotifications section a article p {
  width: 100%;
  margin-bottom: 10px;
  font-size: 0.9em;
  text-align: left;
  color: #4d4d4d;
}
.main__section__header__container__settings__dropdownNotifications section a article time {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  font-size: 0.7em;
  text-align: left;
  color: #4d4d4d;
}
.main__section__header__container__settings__dropdownNotifications footer {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 6px 0;
}
.main__section__header__container__settings__dropdownNotifications footer a {
  color: #4d4d4d;
  font-size: 0.8em;
}
.main__section__header__container__settings__dropdownSettings {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  position: absolute;
  top: 90%;
  right: 0;
  -webkit-animation-name: "dropdown-animations";
          animation-name: "dropdown-animations";
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  background-color: #ffffff;
  z-index: 90;
}
.main__section__header__container__settings__dropdownSettings section {
  width: 100%;
  margin: 6px 0;
}
.main__section__header__container__settings__dropdownSettings section a {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}
.main__section__header__container__settings__dropdownSettings section a:hover {
  background-color: #f1f1f1;
}
.main__section__header__container__settings__dropdownSettings section a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 1.2em;
  color: #4d4d4d;
}
.main__section__header__container__settings__dropdownSettings section a p {
  width: 60%;
  font-size: 0.9em;
  text-align: left;
  color: #4d4d4d;
}
.main__section__header__container__settings__dropdownSettings footer {
  width: 100%;
  border-top: 1px solid #ccc;
}
.main__section__header__container__settings__dropdownSettings footer a {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
  margin: 4px 0;
}
.main__section__header__container__settings__dropdownSettings footer a:hover {
  background-color: #f1f1f1;
}
.main__section__header__container__settings__dropdownSettings footer a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 1.2em;
  color: #4d4d4d;
}
.main__section__header__container__settings__dropdownSettings footer a p {
  width: 60%;
  font-size: 0.9em;
  text-align: left;
  color: #4d4d4d;
}/*# sourceMappingURL=header.css.map */