html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.base__container {
  width: 100%;
  height: 100%;
  background-color: aqua;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  z-index: 0;
}

.main__sidebar {
  border: 1px solid red;
  width: 20%;
  height: 100%;
  position: fixed;
  left: 0%;
  transition: left 0.4s ease-in-out;
}
.main__sidebar .main__sidebar__logo {
  width: 100%;
  height: 70px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__sidebar .main__sidebar__logo i {
  border: 1px solid;
}
.main__sidebar .main__sidebar__logo span {
  border: 1px solid;
  margin-left: 10px;
  font-weight: bold;
}

.main__section {
  border: 1px solid blue;
  height: 100%;
  position: relative;
  width: 80%;
  left: 20%;
  transition: all 0.4s ease-in-out;
  overflow-y: auto;
}
.main__section__header {
  width: 100%;
  height: 70px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__section__header__container {
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__section__header__container__hide__search {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
.main__section__header__container__hide__search__hide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main__section__header__container__hide__search__hide button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}
.main__section__header__container__hide__search__hide button:hover {
  background-color: #f1f1f1;
}
.main__section__header__container__hide__search__hide button i {
  display: flex;
  font-size: 2em;
}
.main__section__header__container__hide__search__search {
  border: 1px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 20px;
}
.main__section__header__container__hide__search__search input {
  border: 1px solid;
  width: 700px;
  border-radius: 2px;
  font-size: 1em;
  outline: none;
}
.main__section__header__container__settings {
  border: 1px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  direction: rtl;
}
.main__section__header__container__settings button:first-child {
  margin-left: 30px;
}
.main__section__header__container__settings button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}
.main__section__header__container__settings button:hover {
  background-color: #f1f1f1;
}
.main__section__header__container__settings button i {
  display: flex;
  font-size: 1.5em;
}/*# sourceMappingURL=main.css.map */